.topBg {
    width: 100%;
    background-image: linear-gradient(#0000008c, #0000008c), url(../img/homework/Vector\ Smart\ Object@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 542px;
    padding-top: 20px;
    color: #ffffff;
}
.menu {
    flex-direction: column-reverse;
    text-align: center;
}
.menuLogo a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;  
    letter-spacing: 1px; 
}
.menuLogUp {
    margin-bottom: 120px;
}
.menuLogTitle {
    display: inline-block;
}
.menuLogBtn {
    width: 90px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    line-height: 14px;
}
.chapter {
    font-size: 30px;   
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.chapterSign {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.topBtn {
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
}