/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 1200px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.top {
    padding-top: 40px;
    margin-bottom: 35px;
}
.logo {
    font-size: 30px;
    font-weight: 300;
    color: #555252;
    text-decoration: none;
    float: left;
}
.logo::first-letter {
    color: #1abc9c;
}
.logo:hover {
    color: #1abc9c;
}
.topMenu {
    list-style: none;
    float: right;
}
.topMenuItem {
    float: left;
}
.topMenuItem a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #0f0101;
    text-decoration: none;
}
.topMenuItem:not(last-chailld) {
    margin-right: 35px;
}
.topMenuItem a:hover {
    color: #1abc9c;
}
.tours {
    width: 100%;
    background: linear-gradient(#00000083, #00000083), url(../img/homework/slide4.png);
    text-align: center;
    color: #ffffff;
}
.toursContent {
    width: 1115px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 265px;
}
.toursArrow {
    width: 100px;
    height: 100px;
    background-color: #1abc9c91;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    font-weight: 300;
}
.toursArrow:hover {
    background-color: #1abc9c;
}
.toursLeftArrow {
    margin-right: 80px;
}
.toursText {
    display: inline-block;
    margin-right: 80px;
}
.toursText h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 82px;
    text-transform: uppercase;
}
.toursSign {
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    text-transform: uppercase;
    text-align: left;
}
.collection {
    width: 100%;
    background-color: #e9f0fd;
    padding: 100px 0;
}
.chapter {
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}
.chapter::after {
    content: "";
    width: 160px;
    height: 5px;
    background-color: #1abc9c;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 80px;
}
.list {
    list-style: none;
    margin: auto;
}
.listItem {
    width: 255px;
    height: 322px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    margin: auto;
}
.listItem:not(:last-child) {
    margin-right: 30px;
}
.listItem:hover .buyLeft {
    background-color: #1abc9c;
}
.listItem:hover .buyRight {
    background-color: #7fd9c7;
}
.listItem img {
    width: 100%;
    height: auto;
}
.buy {
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.buyLeft {
    display: inline-block;
    width: 200px;
    line-height: 40px;
    padding-left: 15px;
    background-color: #323232;
}
.buyRight {
    display: inline-block;
    width: 55px;
    line-height: 40px;
    text-align: center;
    background-color: #8c8c8c;
    margin-left: -5px;
}
.listItemCart {
    width: 235px;
    height: 262px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #000000a1;
    padding-top: 80px;
    padding-left: 32.5px;
    display: none;
}
.listItem:hover .listItemCart {
    display: block;
}
.cartIcon {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #ffffff;
    margin-bottom: 6px;
}
.cartIcon:last-child {
    margin-right: -4px;
}
.cartIcon:not(:last-child) {
    margin-right: 6px;
}
.cartIcon:hover {
    background-color: #1abc9c;
}
.heart {
    background-image: url(../img/homework/heartIcon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.arrow {
    background-image: url(../img/homework/icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.clock {
    background-image: url(../img/homework/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}
.cartAdd {
    width: 170px;
    height: 50px;
    border: 1px solid #ffffff;
    background-image: url(../img/homework/@1X.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    text-align: right;
    line-height: 50px;
    padding-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #323232;
}
.cartAdd:hover {
    background-color: #1abc9c;
}
.cartAdd a {
    text-decoration: none;
    color: #ffffff;
}


















.foot p {
    background-color: #323232;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    line-height: 90px;
}
.foot a {
    color: #ffffff;
    text-decoration: none;
}
.foot a:hover {
    color: #1abc9c;
}