* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 400px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    position: relative;
}
.menu {
    width: ;: 400px;
    height: 30px;
    background-color: #39f809;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}
.menu ul {
    width: 338px;
}
.menu p {
    margin-bottom: 7px;
}
.subMenu {
    display: none;
}
.menu:hover .subMenu {
    display: block;
    padding-left: 10px;
    color: #ff002b;
    background-color: #39f809;
    position: relative;
    right: 10px;
}
.menu2 {
    display: none;
    width: 200px;
    height: 150px;
    background-color: #5931c5;
}
.second {
    height: 30px;
}
.show:hover .menu2 {
    color: #d67e0a;
    display: block;
    position: relative;
    left: 100px;
}