/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1250px;
    margin: auto;
    padding-top: 30px;
}
.topMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #4e9a88
}
.menu {
    font-size: 14px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.menuItem a {
    text-decoration: none;
    color: #4e9a88;
}
.menuItem:hover a {
    color: #f38181;
    border-bottom: 2px solid #f38181;
}
.amazing {
    padding-left: 60px;
}
.chapter, .chapter2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
}
.chapter::before {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 500;
    content: "We work with";
    display: block;
    margin-bottom: 25px;
}
.chapter::after, .chapter2::after {
    content: "";
    display: block;
    background-color: #f38181;
    width: 60px;
    height: 5px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}
.services {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicesItem {
    width: 28%;
    margin-bottom: 100px;
    position: relative;
}
.photo::before {
    content: "";
    background-image: url(../img/homework/ALARM.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.design::before {
    content: "";
    background-image: url(../img/homework/LINE\ GRAPH.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.creativity::before {
    content: "";
    background-image: url(../img/homework/COMPUTER\ _\ OK.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.seo::before {
    content: "";
    background-image: url(../img/homework/BOOK\ 2.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.css::before {
    content: "";
    background-image: url(../img/homework/HOME.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.digital::before {
    content: "";
    background-image: url(../img/homework/IMAGE.png);
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    left: -60px;
}
.servicesChapter {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: inline-block;
}
.servicesSign {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
.meet {
    margin-bottom: 90px;
}
.chapter2::before {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 500;
    content: "Who we are";
    display: block;
    margin-bottom: 25px;
}
.meetSign {
    max-width: 960px;
    font-size: 15px;
    color: #999999;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.meetList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.meetCart {
    width: 27%;
}
.wrapPhoto {
    position: relative;
    width: 100%;
    background-color: #f3818144;
    position: relative;
    margin-bottom: 30px;

}
.meetBg {
    background: linear-gradient(to bottom, #ee898bd2, #f1da89e5);
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%;
    z-index:9999;
    display: none;
    padding-top: 180px;
    padding-left: 60px;
}
.meetPhoto {
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    height: auto;  
}
.meetCart:hover .meetBg {
    display: block;
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
}

.meetCart:hover .meetPhoto {
    transform: translate(-10px, -10px);
    transition: all 200ms linear;
    box-shadow: 10px 10px #5bd6c0;
}
.social {
    display: flex;
    margin: auto;
}
.socialIcon {
    width: 56px;
    height: 56px;
    background-color: #f1da89;
    text-align: center;
    padding-top: 15px;
}
.socialIcon:hover {
    background-color: #95e1d3;
}
.meetName {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
}
.meetAbout {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #999999;
}
.line {
    width: 1250px;
    height: 2px;
    background-color: #e5e5e5;
    margin-bottom: 15px;
}
.foot {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot p {
    font-size: 14px;
}
.foot span {
    color: red;
}
.foot form {
    margin-bottom: 15px;
}
.mail {
    width: 230px;
    line-height: 40px;
    padding-left: 15px;
    margin-right: -4px;
}
.send {
    width: 150px;
    height: 44px;
    text-transform: uppercase;
    color: white;
    background-color: #95e1d3;
}